/* form container. */
.form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 412px) {
  .form {
    align-items:start;
  }
}

@media (min-width: 576px) {
    .form {
      display: grid;
      gap: 4px 16px;
      grid-auto-flow: column;
      grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(100px, 1fr);
      align-items: center;
    }
}

/* mat icon button background override. */
.swap-button {
  margin-bottom: 19px;
  background-color: var(--secondary-color) !important;
}

@media (max-width: 576px) {
  .swap-button {
    margin-bottom: 22px;
  }
}

.swap-button-icon {
  transform: rotate(90deg);
}

@media (min-width: 576px) {
  .swap-button-icon {
    transform: rotate(0deg);
  }
}

.button-container {
    display: grid;
    gap: 16px;
    margin-top: 15px;
}

@media (min-width: 412px) {
  .button-container {
    place-items: center;
    -moz-box-align: center;
    align-items: center;
  }
}

/* mat button background and text color override. */
.convert-button {
    background-color: var(--secondary-color) !important;
    color: #fff !important;
    min-width: 0px;
    height: 56px;
}
  
@media (max-width: 576px) {
    .convert-button {
        width: 100%;
    }
}

@media (min-width: 576px) {
  .convert-button {
      width: 250px;
  }
}

.exchange-total {
  font-size: 26px;
}
