<div class="wrapper">
    <div class="banner header"></div>
    <section class="main">
        <div class="main-header-container">
            <h1 class="main-header main-header-corrector">FAIRFEE</h1>
            <h3 class="main-header">Currency conversion for everyone.</h3>
        </div>
        <div class="main-card-container">
            <div class="main-card-container-inner">
                <div class="card-wrapper">
                    <app-exchange-form></app-exchange-form>
                </div>
            </div>
        </div>
    </section>
    <section class="table-wrapper">
        <div class="main-card-container-inner">
            <div class="table-card-wrapper">
                <app-rates-table></app-rates-table>
            </div>
        </div>
    </section>
<div class="banner footer"></div>

</div>